@{
    ViewBag.Title = "Thiết kế thuộc tính";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ControllerName = "ThuocTinh";
}
<style>
    .btn-action {
        width: 110px;
    }
    table, th, td {
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>
<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <header class="page-title-bar">
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto">@ViewBag.Title</h1>
                    <div class="btn-toolbar">
                        @*<button type="button" class="btn btn-success" onclick="Popup('@Url.Action("AddOrUpdate",ControllerName)')">Thêm</button>*@
                    </div>
                </div>
            </header>
            <div class="page-section">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <h4 class="card-title"> Danh sách thuộc tính</h4>
                                <div id="jstree6"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div id="stepper" class="bs-stepper">
                            <!-- .card -->
                            <div class="card">
                                <!-- .card-header -->
                                <div class="card-header">
                                    <!-- .steps -->
                                    <div class="steps steps-" role="tablist">
                                        <ul>
                                            <li class="step" data-target="#test-l-1" data-validate="fieldset01">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="oi oi-account-login"></i></span> <span class="d-none d-sm-inline">Thông tin chung</span></a>
                                            </li>
                                            <li class="step" data-target="#test-l-2" data-validate="fieldset02" style="width: 200px">
                                                <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="oi oi-person"></i></span> <span class="d-none d-sm-inline">Cấu hình</span></a>
                                            </li>
                                            @*<li class="step" data-target="#test-l-3" data-validate="fieldset03">
                                                    <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="oi oi-credit-card"></i></span> <span class="d-none d-sm-inline">Payment</span></a>
                                                </li>
                                                <li class="step" data-target="#test-l-4" data-validate="agreement">
                                                    <a href="#" class="step-trigger" tabindex="-1"><span class="step-indicator step-indicator-icon"><i class="oi oi-check"></i></span> <span class="d-none d-sm-inline">Confirm</span></a>
                                                </li>*@
                                        </ul>
                                    </div><!-- /.steps -->
                                </div><!-- /.card-header -->
                                <!-- .card-body -->
                                <div class="card-body">
                                    <form id="stepper-form" name="form" class="p-lg-4 p-sm-3 p-0" action="/@ControllerName/AddOrUpdate" method="post" onsubmit="event.preventDefault();return SubmitForm(this);">
                                        <!-- .content -->
                                        <div id="test-l-1" class="content dstepper-none fade">
                                            <!-- fieldset -->
                                            <fieldset>
                                                <input type="hidden" value="@ViewBag.MauBieuId" name="MauBieuId" id="MauBieuId" />
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="tf1">Mã thuộc tính</label>
                                                            <input type="text" class="form-control" name="Id" id="Id" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="tf1">Mã thuộc tính cha</label>
                                                            <input type="text" class="form-control" name="ThuocTinhChaId" id="ThuocTinhChaId" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="tf1">Tên thuộc tính</label>
                                                            <input type="text" class="form-control" name="TenThuocTinh" id="TenThuocTinh" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label for="tf1">Nhãn thuộc tính</label>
                                                            <input type="text" class="form-control" name="NhanThuocTinh" id="NhanThuocTinh" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">
                                                        <div class="form-group">
                                                            <label for="tf1">Kiểu dữ liệu</label>
                                                            <select class="form-control">
                                                                <option value="1">Kiểu chuỗi</option>
                                                                <option value="2">Kiểu số nguyên</option>
                                                                <option value="3">Kiểu công thức</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    @*<div class="col-md-4">
                                                            <div class="form-group">
                                                                <label for="tf1">Loại báo cáo</label>
                                                                <select id="NhomMauBieu" name="NhomMauBieu" class="form-control">
                                                                    <option value="1">Là nhóm</option>
                                                                    <option value="2">Không là nhóm</option>
                                                                </select>
                                                            </div>
                                                        </div>*@
                                                </div>

                                            </fieldset>
                                        </div>
                                        <div id="test-l-2" class="content dstepper-none fade">
                                            <fieldset>
                                                <div class="row">
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="tf1">Số dòng</label>
                                                            <input type="text" class="form-control" name="Row" id="Row" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="tf1">Số cột</label>
                                                            <input type="text" class="form-control" name="Col" id="Col" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="tf1">Chiều rộng</label>
                                                            <input type="text" class="form-control" name="Width" id="Width" />
                                                        </div>
                                                    </div>
                                                    <div class="col-md-3">
                                                        <div class="form-group">
                                                            <label for="tf1">Thứ tự</label>
                                                            <input type="text" class="form-control" name="ThuTu" id="ThuTu" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <hr />
                                        <button type="submit" class="btn btn-primary btn-action">Lưu</button>
                                        <button type="button" class="btn btn-danger btn-action" onclick="DeleteForm()">Xóa</button>
                                        <button type="button" class="btn btn-warning btn-action" onclick="Reset()">Reset</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <h4 class="card-title">Xem trước bảng biểu </h4>
                                <table id="renderTable" style="width: 100%" >
                                    <thead>

                                    </thead>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
          RenderTable('@ViewBag.MauBieuId');
        })
        function Reset() {
            $("#stepper-form").trigger('reset');
        }
        function Popup(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalcontent').html(response);
                    $("#exampleModal").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function SubmitForm(form) {
            if (window.Loading)
                return;
            window.AddLoading();
            var post_url = $(form).attr("action");
            $.ajax({
                url: post_url,
                type: 'POST',
                data: $(form).serialize(),
                success: function (response) {
                    if (response.Status) {
                        toastr.success(response.Message);
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        $("#stepper-form").trigger('reset');
                        $('#jstree6').jstree(true).refresh();
                        RenderTable('@ViewBag.MauBieuId');
                    } else {
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(response.Message);
                    }
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi.");
                }
            });
            return false;
        }
        function PopupDelete(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalDeleteContent').html(response);
                    $("#exampleModalAlertDanger").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function ViewData(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#ThuocTinhChaId').val(response.ThuocTinhChaId);
                    $('#Id').val(response.Id);
                    $('#TenThuocTinh').val(response.TenThuocTinh);
                    $('#NhanThuocTinh').val(response.NhanThuocTinh);
                    $('#KieuDuLieu').val(response.KieuDuLieu).change();
                    $('#Row').val(response.Row);
                    $('#Col').val(response.Col);
                    $('#Width').val(response.Width);
                    $('#ThuTu').val(response.ThuTu);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function CreateDonViCon(id) {
            $("#stepper-form").trigger('reset');
            var url = "/@ControllerName/GetById/" + id;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {

                    $('#ThuocTinhChaId').val(response.Id);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
                function RenderTable(MauBieuId) {
                    var url = "/@ControllerName/RenderTableThuocTinh/" + MauBieuId;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response) {
                            if (response) {
                                console.log(response);
                                $("#renderTable thead").html("");
                                const max = response.reduce((prev, current) => (prev.Level > current.Level) ? prev.Level : current.Level);
                                console.log("max", max);
                                var checkNumber = Number.isInteger(max) ? max : 0;
                                for (var i = 0; i <= checkNumber; i++) {
                                    var str = "<tr>";
                                    response[i].ThuocTinhs.map(function (value, index) {
                                        var row = value.Row?value.Row:1;
                                        var col = value.Col?value.Col:1;
                                        var width = value.Width ? value.Width : 1;
                                        var title = value.TenThuocTinh ? value.TenThuocTinh : "";
                                        str += `<th colspan="${col}" rowspan=${row} style="width: ${width}px; text-align: center;"> ${title} </th>`;
                                    });
                                    str += "</tr>";
                                    $("#renderTable thead").append(str);
                        }
                    }
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function DeleteForm() {
            var url = "/@ControllerName/Delete/" + $("#Id").val();
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#stepper-form").trigger('reset');
                               RenderTable('@ViewBag.MauBieuId');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function Delete(id) {
            var url = "/@ControllerName/Delete/" + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#stepper-form").trigger('reset');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        $('#jstree6').on('changed.jstree', function (e, data) {
            toastr.options = {
                'positionClass': 'toast-bottom-right'
            };
            //toastr.info('The selected id is: ' + data.selected);
            if(data.node)
                ViewData("/@ControllerName/GetById/" + data.node.id)
        }).jstree({
            plugins: ['types', 'contextmenu'],
            core: {
                data: {
                    url: '/@ControllerName/LoadTreeDonVi/@ViewBag.MauBieuId',
                    data: function data(node) {
                        return {
                            id: node.id
                        };
                    }
                },
                check_callback: true
            },
            "contextmenu": {
                "items": function ($node) {
                    var tree = $("#jstree6").jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Tạo thuộc tính con",
                            "action": function (obj) {
                                CreateDonViCon($node.id);
                            }
                        },
                        "Remove": {
                            "separator_before": false,
                            "separator_after": false,
                            "_disabled": $node.original.root ? true : false,
                            "label": "Xóa thuộc tính",
                            "action": function (obj) {
                                Delete($node.id)
                            }
                        }
                    };
                }
            },
            types: Looper.jsTreeTypes()
        });
    </script>
}