@{
    ViewBag.Title = "Nhập liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var ControllerName = "BaoCao";
}
@model SystemReportMVC.ViewModels.RenderMauBieuVM

<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <header class="page-title-bar">
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto">@ViewBag.Title <i>@Model.TenMauBieu</i></h1>
                    <div class="btn-toolbar">
                        <button type="button" class="btn btn-success" onclick="SaveForm()" style="width: 100px">Lưu</button>
                    </div>
                </div>
            </header>
            <div class="page-section">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-fluid">
                            <div class="card-body">
                                <table id="tableHeader" style="width: 100%; border: none !important; margin-bottom: 20px">
                                    <thead>
                                        <tr>
                                            <th style="width: 30%">@Model.KyHieu </th>
                                            <th style="text-align: center">@Model.TenMauBieu.ToUpper() </th>
                                            <th style="width: 30%">-Đơn vị báo cáo</th>
                                        </tr>
                                        <tr>
                                            <td>@Model.GhiChu </td>
                                            <td style="text-align: center">
                                                (Từ ngày 01/01 đến ngày 31/12 năm 2020)
                                            </td>
                                            <td>
                                                <span> Sở Khoa học và Công nghệ Đồng Tháp</span>

                                            </td>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td style="text-align: center">
                                            </td>
                                            <th>
                                                - Đơn vị nhận báo cáo
                                            </th>
                                        </tr>
                                        <tr>
                                            <td> </td>
                                            <td style="text-align: center">
                                            </td>
                                            <td>
                                                <span> @Model.DonViNhan</span>

                                            </td>
                                        </tr>
                                    </thead>
                                </table>
                                <style>
                                    .btn-action {
                                        width: 110px;
                                    }

                                    table, th, td {
                                        border: 1px solid black;
                                        border-collapse: collapse;
                                    }

                                    #tableHeader table, #tableHeader th, #tableHeader td {
                                        border: none;
                                    }
                                </style>
                                <table id="renderTable" style="width: 100%">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        @foreach (var ct in Model.RenderChiTieu)
                                        {
                                            <tr>
                                                <td style="max-width: 100px">@ct.TenChiTieu</td>
                                                @foreach (var item in ct.Inputs)
                                                {
                                                    <td>
                                                        @if (item.TypeInput == 1)
                                                        {
                                                            <input class="InputForm" id="@item.Id" style="border: none; width: 100%; text-align:center" value="@item.Value" />
                                                        }
                                                        else
                                                        {
                                                            <textarea></textarea>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
          RenderTable('@Model.MauBieuId');
        })
        function Reset() {
            $("#stepper-form").trigger('reset');
        }
        function Popup(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalcontent').html(response);
                    $("#exampleModal").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function SubmitForm(form) {
            if (window.Loading)
                return;
            window.AddLoading();
            var post_url = $(form).attr("action");
            $.ajax({
                url: post_url,
                type: 'POST',
                data: $(form).serialize(),
                success: function (response) {
                    if (response.Status) {
                        toastr.success(response.Message);
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        $("#stepper-form").trigger('reset');
                        $('#jstree6').jstree(true).refresh();
                        RenderTable('@ViewBag.MauBieuId');
                    } else {
                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(response.Message);
                    }
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi.");
                }
            });
            return false;
        }
        function PopupDelete(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalDeleteContent').html(response);
                    $("#exampleModalAlertDanger").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function ViewData(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#ThuocTinhChaId').val(response.ThuocTinhChaId);
                    $('#Id').val(response.Id);
                    $('#TenThuocTinh').val(response.TenThuocTinh);
                    $('#NhanThuocTinh').val(response.NhanThuocTinh);
                    $('#KieuDuLieu').val(response.KieuDuLieu).change();
                    $('#Row').val(response.Row);
                    $('#Col').val(response.Col);
                    $('#Width').val(response.Width);
                    $('#ThuTu').val(response.ThuTu);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function CreateDonViCon(id) {
            $("#stepper-form").trigger('reset');
            var url = "/@ControllerName/GetById/" + id;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {

                    $('#ThuocTinhChaId').val(response.Id);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
                function RenderTable(MauBieuId) {
                    var url = "/thuoctinh/RenderTableThuocTinh/" + MauBieuId;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (response) {
                            if (response) {
                                console.log(response);
                                $("#renderTable thead").html("");
                                const max = response.reduce((prev, current) => (prev.Level > current.Level) ? prev.Level : current.Level);
                                console.log("max", max);
                                var checkNumber = Number.isInteger(max) ? max : 0;
                                for (var i = 0; i <= checkNumber; i++) {
                                    var str = "<tr>";
                                    response[i].ThuocTinhs.map(function (value, index) {
                                        if (index == 0) {
                                            str += `<th style="width: 200px; border: none"> </th>`;
                                        }
                                        var row = value.Row?value.Row:1;
                                        var col = value.Col?value.Col:1;
                                        var width = value.Width ? value.Width : 1;
                                        var title = value.TenThuocTinh ? value.TenThuocTinh : "";
                                        str += `<th colspan="${col}" rowspan=${row} style="min-width:100px;width: ${width}px; text-align: center;"> ${title} </th>`;
                                    });
                                    str += "</tr>";
                                    $("#renderTable thead").append(str);
                        }
                    }
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function DeleteForm() {
            var url = "/@ControllerName/Delete/" + $("#Id").val();
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#stepper-form").trigger('reset');
                               RenderTable('@ViewBag.MauBieuId');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function Delete(id) {
            var url = "/@ControllerName/Delete/" + id;
            $.ajax({
                url: url,
                type: 'POST',
                success: function (response) {
                    if (response.Status) {
                        $('#jstree6').jstree(true).refresh();
                        $("#stepper-form").trigger('reset');
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function SaveForm() {
            var data = [];
            str = '';
            $(".InputForm").each(function () {
                data.push({"Id": $(this).attr("id"), "Value": $(this).val()})
            });
            console.log(data);
            var url = "/NhapLieuBaoCao/SaveData";
            $.ajax({
                url: url,
                type: 'POST',
                data: { "inputs": data },
                success: function (response) {
                    if (response.Status) {
                        location.reload();
                    }
                    toastr.success(response.Message);
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        $('#jstree6').on('changed.jstree', function (e, data) {
            toastr.options = {
                'positionClass': 'toast-bottom-right'
            };
            //toastr.info('The selected id is: ' + data.selected);
            if(data.node)
                ViewData("/@ControllerName/GetById/" + data.node.id)
        }).jstree({
            plugins: ['types', 'contextmenu'],
            core: {
                data: {
                    url: '/@ControllerName/LoadTreeDonVi/@ViewBag.MauBieuId',
                    data: function data(node) {
                        return {
                            id: node.id
                        };
                    }
                },
                check_callback: true
            },
            "contextmenu": {
                "items": function ($node) {
                    var tree = $("#jstree6").jstree(true);
                    return {
                        "Create": {
                            "separator_before": false,
                            "separator_after": false,
                            "label": "Tạo thuộc tính con",
                            "action": function (obj) {
                                CreateDonViCon($node.id);
                            }
                        },
                        "Remove": {
                            "separator_before": false,
                            "separator_after": false,
                            "_disabled": $node.original.root ? true : false,
                            "label": "Xóa thuộc tính",
                            "action": function (obj) {
                                Delete($node.id)
                            }
                        }
                    };
                }
            },
            types: Looper.jsTreeTypes()
        });
    </script>
}