@model List<SystemReportMVC.Models.MauBieu>
@using SystemReportMVC.Helpers;
@{
    ViewBag.Title = "Tổng hợp";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var index = 0;
    var data = (List<SystemReportMVC.Models.DuLieuMauBieu>)ViewBag.DuLieu ?? new List<SystemReportMVC.Models.DuLieuMauBieu>();
}
<div class="wrapper">
    <div class="page">
        <div class="page-inner">
            <header class="page-title-bar">
                <div class="d-md-flex align-items-md-start">
                    <h1 class="page-title mr-sm-auto">@ViewBag.Title </h1><!-- .btn-toolbar -->
                    <div class="btn-toolbar">
                        @*<button type="button" class="btn btn-success" onclick="Popup('@Url.Action("AddOrUpdate","Quyen")')">Thêm</button>*@
                    </div>
                </div>
            </header>
            <div class="page-section">
                <div class="card card-fluid">
                    <div class="card-body">
                        <table id="datatable" class="table">
                            <thead>
                                <tr>
                                    <th style="max-width: 100px;"> STT </th>
                                    <th>Tên mẫu biểu</th>
                                    <th>Ký hiệu</th>
                                    <th>Trạng thái</th>
                                    <th>Ngày cập nhật</th>
                                    <th style="width:150px; min-width:120px;"> &nbsp; </th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    foreach (var item in Model)
                                    {
                                        var trangThai = data.Where(x => x.MauBieuId == item.Id).FirstOrDefault().TrangThai;
                                        if (trangThai == (int)TrangThaiBaoCao.ChoXuatBan)
                                        {
                                            index++;
                                            <tr>
                                                <td>
                                                    @index
                                                </td>
                                                <td>
                                                    @item.Ten
                                                </td>
                                                <td>
                                                    @item.KyHieu
                                                </td>
                                                <td>
                                                    <span>Đã duyệt</span>
                                                </td>
                                                <td>
                                                    @item.AuditTs
                                                </td>
                                                <td class=" align-middle text-right">
                                                    @{
                                                        <a class="btn btn-sm btn-icon btn-info" data-toggle="tooltip" data-placement="top" data-original-title="Xem báo cáo" href="/NhapLieuBaoCao/Render?id=@item.Id"><i class="fa fa-pencil-alt"></i></a>
                                                        <a class="btn btn-sm btn-icon btn-success" data-toggle="tooltip" data-placement="top" data-original-title="Xuất bản" onclick="TrangThai('@item.Id','@ViewBag.DonViId')"><i class="fas fa-check" style="color: white"></i></a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="clientContactEditModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" id="modalcontent">
                </div>
            </div>
            <div class="modal modal-alert fade" id="exampleModalAlertDanger" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="exampleModalAlertDangerLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document" id="modalDeleteContent">
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $("#select2-data-array").select2({
                dropdownParent: $("#exampleModal")
            });
            $('#datatable').DataTable({
                dom: "<'row'<'col-sm-12 col-md-6'l><'col-sm-12 col-md-6'f>>\n        <'table-responsive'tr>\n        <'row align-items-center'<'col-sm-12 col-md-5'i><'col-sm-12 col-md-7 d-flex justify-content-end'p>>",
                language: {
                    paginate: {
                        previous: '<i class="fa fa-lg fa-angle-left"></i>',
                        next: '<i class="fa fa-lg fa-angle-right"></i>'
                    }
                },
                autoWidth: false,
                deferRender: true
            });

            $('.modal').modal({
                show: false,
                keyboard: false,
                backdrop: 'static'
            });
        })

        function Popup(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalcontent').html(response);
                    $("#exampleModal").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function SubmitForm(form) {
            if (window.Loading)
                return;
            window.AddLoading();
            var post_url = $(form).attr("action");
            $.ajax({
                url: post_url,
                type: 'POST',
                data: $(form).serialize(),
                success: function (response) {
                    if (response.Status) {
                        toastr.success(response.Message);
                        setTimeout(function () {
                            location.reload();
                        }, 1000);
                    } else {

                        setTimeout(function () {
                            window.removeLoader();
                        }, 1000);
                        toastr.error(response.Message);
                    }
                },
                error: function () {
                    toastr.error("Đã xảy ra lỗi.");
                }
            });
            return false;
        }

        function PopupDelete(urlMem) {
            var url = urlMem;
            $.ajax({
                url: url,
                type: 'GET',
                success: function (response) {
                    $('#modalDeleteContent').html(response);
                    $("#exampleModalAlertDanger").modal("show");
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
        function TrangThai(mauBieuId, donViId) {
            var url = '/NhapLieuBaoCao/TrangThaiXuatBan';
            $.ajax({
                url: url,
                type: 'Post',
                data: {
                    "mauBieuId": mauBieuId,
                    "donViId": donViId
                },
                success: function (response) {
                    toastr.error(response.Message);
                    location.reload();
                },
                error: function (xhr, status) {
                    alert(status);
                }
            });
        }
    </script>
}
